:root {
	--c-cyan: #3751FF;
	--c-marine: #1E266D;
	--c-white: white;
	--c-beige: #FACFCA;
	--c-pink: #F8AEC3;
	--c-purple: #C1AEF8;
	--c-gray-light: #FAFBFF;
	--c-gray: #C4C4C4;
	--c-yellow: #FBC917;
	--c-blue: #999FE3;
	--c-shadow: #DFE0EB;
	--c-white-dark: #FAFBFF;
}