section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

section.-hero {
	background-color: var(--c-beige);
	padding: 20px 0 0 0;
}